<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="myToolsSettingSection" type="ReadingConfigFile.ToolsSettingsSection, ReadingConfigFile" />
  </configSections>

  <myToolsSettingSection configSource="App_Config\SampleConfig.config" />
  
  <!--<myToolsSettingSection>
    <settings>
      <add name="appName" value="Read Config File" />
      <add name="appVersion" value="1.0" />
    </settings>

    <datababseobjects>
      <add name="userTable" value="dbo.Users" />
      <add name="userTable1" value="dbo.Address" />
    </datababseobjects>
    
    <xmlformats>
      <xmlformat name="Xml with description" value="advance" title="Sample Config">
        <fields>
          <add name="title" mapTo="title" />
          <add name="location" mapTo="location" />
          <add name="description" mapTo="description" />
        </fields>
      </xmlformat>
      <xmlformat name="Xml without description" value="simple" title="Sample Config">
        <fields>
          <add name="title" mapTo="title" />
          <add name="location" mapTo="location" />
        </fields>
      </xmlformat>
    </xmlformats>
  
    <countries>
      <add name="usa" value="United States" language="en" />
      <add name="fr" value="France" language="fr" />
    </countries>
  </myToolsSettingSection>-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>